.dashboard__stat-wrapper
	div
		.dashboard__stat
			.dashboard__stat-head
				p EMPLOYERS VIEWS
			.dashboard__stat-body
				p 9
				a(href="#") Who Viewed Your Profile
	div
		.dashboard__stat
			.dashboard__stat-head
				p APPLICATIONS
			.dashboard__stat-body
				p 6
				a(href="#") Jobs You Applied
	div
		.dashboard__stat
			.dashboard__stat-head
				p JOB ALERTS
			.dashboard__stat-body
				p 1
				a(href="#") Your Job Alerts
