// SECTION :: START

section#profile.profile
	.c-grid
		.profile__wrapper
			.profile__wrapper-left


			.profile__wrapper-right

				.profile__section

					.profile__recommended
						.profile__recommended-head
							p RECOMMENDED JOBS

						.profile__recommended-body
							each val, idx in [1,2,3,4,5,6,7,8,9,10]
								a.profile__recommended-job(href="#")
									div
										.profile__recommended-job-img
											img(src="img/img-employers-kbz-bank.png" alt="")
									div
										p Digital Marketing Manager – Website & Content
										span KBZ Bank

					.profile__employers
						.profile__employers-divider

						p.profile__employers-title LEADING EMPLOYERS

						.profile__employers-link-wrapper
							each val, idx in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
								div
									a.profile__employers-link(href="#")
										img(src="img/img-employers-kbz-bank.png" alt="")

						.profile__employers-divider

					.profile__news
						.profile__news-title CAREER ADVICE AND NEWS
						.profile__news-link-wrapper
							each val, idx in [1,2,3]
								div
									a.profile__news-link(href="#")
										div
											.profile__news-link-img
												img(src="img/img-user.jpg" alt="")
										div
											span 01 September, 2020
											p “လက်ရှိအလုပ်ကနေ ဘာကြောင့်ထွက်ချင်တာလဲ” လို့အင်တာဗျူးမှာမေးလာခဲ့ရင်

						a.profile__news-link(href="#") View More News »

// SECTION :: END
