// SECTION :: START

.profile {
	padding-top: 5px;

	.c-grid {
		max-width: 1370px;
	}

	&__wrapper {
		display: flex;

		&-left {
			flex: 1;
			min-width: 1px;
			max-width: 100%;
			padding-right: 20px;
		}

		&-right {
			width: 100%;
			max-width: 365px;

			.profile__section {
				padding-bottom: 30px;
			}
		}
	}

	&__section {
		overflow: hidden;
		border-radius: 3px;
		background-color: #fff;
		box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.24);
	}



	&__languages {
		position: relative;
		padding: 20px 30px 20px;
	}

	&__references {
		position: relative;
		padding: 20px 30px 20px;
	}

	&__preferred {
		position: relative;
		padding: 20px 30px 20px;
		margin-bottom: 18px;
	}

	@import "profile--main";
	@import "profile--strength";
	@import "profile--about";
	@import "profile--experience";
	@import "profile--skills";
	@import "profile--manage";
	@import "profile--jobs";
	@import "profile--employers";
	@import "profile--news";
}

// SECTION :: END
